body{	
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/c3/Ceviche_en_Parchita_y_Cocuy.JPG");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.btn-primary {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    border-color: #f6bf01;
    background-color: #fec503;
}

mark {
	background-color: #fed136;
	color: white;
}

.menu {
	background-color: #fed136;
}